@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);
    --TransperantWhite: hsla(0, 0%, 100%, 0.75);
    --LightGray: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Big Shoulders Display' ;
    background-color: var(--LightGray);
    font-size: 13px;
    line-height: 1.7    ;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
    place-items: center;
    
    
}
.container {
    display: flex;
    max-width: 720px;
    
    border-radius: 1rem;
    
    
}
h1 {
    color: var(--LightGray);
}
p {
    color: var(--TransperantWhite);
}
img {
    width: 50px;
    align-items: flex-start;
    margin: 3rem 0 0 2rem;
}
.card1 {
  background-color: var(--BrightOrange);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  
}
.card2 {
    background-color: var(--DarkCyan);
    
}
.card3 {
    background-color: var(--VeryDarkCyan);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}
.heading {
    margin: 1rem 0 0 2rem;
    font-size: 2rem;
}
.subhead {
    margin: 2rem 0 1rem 2rem;
    padding-right: 20px;
    font-family:  'Lexend Deca';
}

.roundedButton {
    margin: 3rem 0 2.5rem 2rem;
    background-color: var(--LightGray);
    padding: 10px;
    height: 40px;
    border-radius: 50px;
    width: 120px;
    border: none;
}
.button1 {
    color: var(--BrightOrange);
}
.button2 {
    color: var(--DarkCyan);
}
.button3 {
    color: var(--VeryDarkCyan);
}

